AZURE_OPENAI_ENDPOINT="your_azure_openai_endpoint"
AZURE_OPENAI_API_KEY="your_azure_openai_key"
AZURE_OPENAI_CHAT_DEPLOYMENT="gpt-4o"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"

AZURE_SEARCH_ENDPOINT="your_azure_search_endpoint"
AZURE_SEARCH_KEY="your_azure_search_key"
AZURE_SEARCH_INDEX_NAME="your_search_index_name"

AZURE_VI_NAME="your_video_indexer_name"
AZURE_VI_ACCOUNT_ID="your_video_indexer_account_id"
AZURE_VI_LOCATION="eastus"
AZURE_SUBSCRIPTION_ID="your_subscription_id"
AZURE_RESOURCE_GROUP="your_resource_group"

APPLICATIONINSIGHTS_CONNECTION_STRING="your_app_insights_connection_string"

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your_langsmith_key"
LANGCHAIN_PROJECT="name-of-your-langsmith-project"